<% include layout/header.ejs %>

<h2>Cannot find <%= url %></h2>
<img width="600" height="450" src="https://cdn.dribbble.com/users/156849/screenshots/3474589/404-error-2.gif"
			alt="not found">

<% include layout/footer.ejs %>
