<% include layout/header.ejs %>

    <form name="form1" method="POST" action="/json/create/profile">
    <table>
        <tr>
          <td>ID</td>
          <td><input type="text" name="id" ></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" ></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><input type="text" name="status" ></td>
        </tr>
        <tr>
          <td>Followed</td>
          <td><input disabled type="text" name="followed" ></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>

<% include layout/footer.ejs %>
