<% include layout/header.ejs %>

<nav>
	<a href="/json/create">Создать</a>
	| <a href="/json/users">Контакты</a>
</nav>
    <form name="form1" method="POST" action="/json/create/profile">
    <table>
        <tr>
        <td>First name</td>
        <td><input type="text" name="fname" ></td>
        </tr>
        <tr>
        <td>last name</td>
        <td><input type="text" name="lname" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
<% include layout/footer.ejs %>
