<% include layout/header.ejs %>

    <% if(userValue!=null){ %>
				<div>Создан новый пользователь под именем <%= userValue.first %>  <%= userValue.last %> </div>
		<%}%>
<% include layout/footer.ejs %>
